<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Successful</title>
</head>
<body>
    <p> 
        You have successfully reported the item you have <%= data.type  %><br><hr>
        The following details have been reported about the item:-<br><br>
        <strong>Found/Lost:- </strong><%= data.type %><br>
        <strong>Lost/Found:- </strong> <%= data.venue %><br>
        <strong>Date:-</strong> <%= data.date %><br>
        <strong>Time:-</strong> <%= data.time %><br>
        <strong>Price Range:-</strong> <%= data.price %><br>      
    </p>
</body>
</html>